.button {
    padding: 1rem;
    line-height: 1em;
    background: #F5F5F5;
    display: inline-block;

    &:hover {
        background: #EEE;
    }

    &:active {
        background: #E0E0E0;
    }
}