<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SmoothTranscode</title>
        <link rel="stylesheet" type="text/css" href="../global.css">
    </head>
    <body>
        <div id="main-window" class="window">
            <nav id="toolbar">
                <ul>
                    <li v-if="!encoding"><a href="#" data-icon="" id="start-converting-btn" v-on:click="convertClicked">Start Converting</a></li>
                    <li v-if="encoding"><a href="#" data-icon="" id="stop-converting-btn" v-on:click="stopClicked">Stop Converting</a></li>
                    <li v-if="!encoding"><a href="#" data-icon="" id="add-file-btn" v-on:click="addFilesClicked">Add File</a></li>
                </ul>
            </nav>
            <main v-on:dragenter="dragEnter">
                <ul id="file-list" v-if="files.length > 0">
                    <li v-for="file in files" v-bind:data-file="file.id" :key="file.id">
                        <header>
                            <div class="title" :data-icon="file.videoStreams.length > 0 ? '\uf008' : '\uf028'">
                                {{ file.name }}
                            </div>
                            <div v-if="!encoding">
                                <a href="#" title="Remove File" class="button icon-only" data-icon="" v-on:click="removeFile(file)">Remove File</a>
                                <a href="#" title="Add Output" class="button icon-only" data-icon="" v-on:click="addOutput(file)">Add Output</a>
                            </div>
                        </header>
                        <ul v-if="file.outputs.length > 0">
                            <li v-for="output in file.outputs" v-bind:data-output="output.id" :key="output.id">
                                <div class="status error" data-icon="" v-if="output.status == 'error'" :title="output.errorMessage"></div>
                                <div class="status complete" data-icon="" v-if="output.status == 'complete'" title="Encode Finished"></div>
                                <div class="info">
                                    <p><strong>Output: </strong><a href="#" class="output-link" v-on:click="changeOutputPath(output)">{{ output.path }}</a></p>
                                    <p><strong>Preset: </strong>{{ output.settings.presetName }}</p>
                                </div>
                                <div v-if="!encoding">
                                    <a href="#" title="Remove Output" class="button icon-only" data-icon="" v-on:click="removeOutput(file, output)">Remove Output</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p id="placeholder" data-icon="" v-if="showPlaceholder">Add video or audio files to get started</p>
                <div id="drag-notice" v-if="dropActive">
                    <p data-icon="">Drop files here</p>
                </div>
                <div id="drop-target" v-if="dropActive" v-on:dragleave="dragLeave" v-on:drop="drop"></div>
            </main>
            <aside v-if="encoding">
                <p>Encoding {{ completedEncodes + 1 }} of {{ totalEncodes }}</p>
                <progress v-bind:value="totalPercentage" max="100">{{totalPercentage}}%</progress>
                <p>Time Encoded: {{ currentEncode.progressTime }} - Encoding Bitrate: {{ currentEncode.progressBitrate }} - Encoding Speed: {{ currentEncode.progressSpeed }}</p>
            </aside>
        </div>
        <script type="text/javascript" src="main-window.js"></script>
    </body>
</html>