* {
    cursor: default;
}

html, body {
    height: 100%;
}

html {
    font-size: 12px;
}

body {
    user-select: none;
}

a, img {
    -webkit-user-drag: none;
}

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

#container, .window {
    height: 100%;
}