#toolbar {
    height: calc(4rem + 1px);
    background: #F5F5F5;
    border-bottom: 1px solid #E0E0E0;

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;

        li {
            list-style: none;
            line-height: 4rem;
            padding: 0 1.4rem;
            flex: 0 0 auto;

            a {
                margin: 0 -1.4rem;
                padding: 0 1.4rem;
                line-height: 4rem;
                display: block;

                &:hover {
                    background: #EEE;
                }

                &:active {
                    background: #E0E0E0;
                }

                svg {
                    margin-right: 0.8rem;
                }
            }
        }
    }
}